#spinning_page{
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(0,0,0,0.2) !important;
    position: fixed;
    z-index: 2000 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.descr1{
    font-size: 1em;
}
.title1{
    font-size: 2em;
}
.btn1{
    font-size: 1em;
}

#errorBtn{
    width: 8em;

    background-color: transparent;
    border: 2px solid #106765;
    padding: 0.5em;
    border-radius: 45px;
    color: #106765;
    font-weight: 550;
    transition: 0.5s;
}
#errorBtn:hover{
    width: 8em;

    background-color: rgba(0, 87, 146, 0.8);
    border: 2px solid #106765;
    padding: 0.5em;
    border-radius: 45px;
    color: white;
    font-weight: 550;
}


@media (max-width: 569px) {
   .descr1{
       font-size: 0.8em;
   }
    .title1{
        font-size: 1.5em;
    }
    .btn1{
        font-size: 0.9em;
    }

}

/*floating area*/
.MuiFab-primary {
    color: #fff;
    background-color: #10706E !important;
    height: 42px !important;
    width: 42px !important;
    transition: 1s !important;
    box-shadow: none !important;
}

.MuiFab-primary:hover {
    color: #fff;
    background-color: #16a8a5 !important;

}

/*ProfilePicturePreview*/

#photo_change{
    background-color: white;
    border-radius: 9px;
    margin-bottom: 5em;
}

#photo_change .title{
    font-weight: 600;

}
#photo_change .save_btn{
    background-color: transparent;
    border: 2px solid #106765;
    padding: 0.2em;
    border-radius: 45px;
    color: #106765;
    font-weight: 550;
    font-size: 0.8em;
    transition: 0.5s;
}
#photo_change .save_btn:hover{
    background-color: #106765;
    border: 2px solid #106765;

    border-radius: 45px;
    color: white;
    font-weight: 550;
}

/*posts*/

#post_text, #post_text:focus, #post_text:focus-within, #post_text:hover, #post_text:active{
    border: 0;
    width: 100%;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    overflow: hidden;
    resize: none;
    min-height: 4em;
    max-height: 4em;
    line-height: 20px;

}

#name_user{
    font-size: 0.9em;
    font-weight: bold;
}
#target{
    font-size: 0.7em;
    padding: 2px 6px;
    background-color: #e8e8e8;
    border-radius: 4px;
    font-weight: 600;
}

#show_all_comments .show_comments{
    text-decoration: none;
}
#show_all_comments .show_comments:hover{
    text-decoration: underline 1px solid black;
}

/*the modals*/

#the_modal::-webkit-scrollbar {
    display: none;
}

/*the public poll*/

#poll_choice {
  cursor: pointer;
    border-radius: 9px;
}
#poll_choice .vote{
  font-size: 0.9em;
}

#poll_choice:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.bx-scaled {
    transition: .2s transform;
}
.bx-scaled:hover {
    transform: scale(115%);
    color: #106765;
}

@media (max-width: 500px) {
    #poll_choice div span{
        font-size: 0.8em;
    }
    #poll_choice .vote{
        font-size: 0.6em;
    }
}





.MuiBox-root-10{
    padding-bottom: 0!important;
}
/*Search bar*/


#search_bar{

}

#search_bar .input{
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0.5em 0.7em;
    border-radius: 9px 0 0 9px;

}

#search_bar .search_btn{

    background-image: url("./../imgs/search.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #10706E;
    cursor: pointer;
    border-radius: 0 9px 9px 0;
    transition: 0.5s;
}

#search_bar .search_btn:hover{
    background-color: #16a8a5;
}

#search_bar{

}

#search_bar{

}

/*Alerts*/

.MyAlert {
    width: 280px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}
.MyAlert.showing {
    opacity: 0;
}
.MyAlert:not(.show) {
    display: none;
}

.MyAlert-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    pointer-events: none;
}
.MyAlert-container > :not(:last-child) {
    margin-bottom: 0.75rem;
}

.MyAlert-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 9px;
}
.MyAlert-header .btn-close {
    margin-right: -0.375rem;
    margin-left: 0.75rem;
}

.MyAlert-body {
    padding: 0.75rem;
    word-wrap: break-word;
}
